body {
    background-color: black;
    color: white;
}

#homeScreen {
 position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#wholeDamnThing {
   position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
margin-top: -60px;    
}

.hideMe {
    display: none;
}




#replay {
       font-family: 'Permanent Marker', cursive;
    color: black;
    background-color: white;
    font-size: 34px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 100px; 
}

@media screen and (min-width: 500px) {  
    
#outcome {
    color: white;
    font-size: 92px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
    
    
#yourTime {
    color: white;
    font-size: 46px;
     font-family: 'Architects Daughter', cursive;
    text-align: center; 
}


#enter {
    font-family: 'Permanent Marker', cursive;
    color: black;
    background-color: white;
    font-size: 34px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 100px;
}

#enter:hover {
    cursor: pointer;
}

#homeTitle {
    text-align: center;
    font-size: 46px;
    font-family: 'Architects Daughter', cursive;  
}

.misses {
    font-size: 28px;
    color: red;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#blanks {
    font-size: 46px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#userGuess {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    text-align: center;
}

#click {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

#click:hover {
    cursor: pointer;
}


#title {
    text-align: center;
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
}

.guy {
    width: 179px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#missAlert {
    position: absolute;
    font-size: 200px;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: red;
    z-index: 10;
}

.hideMe {
    display: none;
}

#head {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -200px;
    margin-left: 130px;
    z-index: 4;
}

#body {
    width: 10px;
    height: 80px;
    position: absolute;
    margin-top: -180px;
    margin-left: 145px;  
}

#armL {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -145px;
    margin-left: 150px;  
}

#armR {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -145px;
    margin-left: 110px;  
}

#legL {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -90px;
    margin-left: 112px;
    transform: rotate(120deg);
}

#legR {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -90px;
    margin-left: 130px;
    transform: rotate(-120deg);
}
}

@media screen and (max-width: 499px) {
    
#outcome {
    margin-top: 50px;
    color: white;
    font-size: 34px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
    
    
    
#yourTime {
    color: white;
    font-size: 24px;
     font-family: 'Architects Daughter', cursive;
    text-align: center; 
}
    
#enter {
    font-family: 'Permanent Marker', cursive;
    color: black;
    background-color: white;
    font-size: 24px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 100px;
}


#homeTitle {
    text-align: center;
    font-size: 32px;
    font-family: 'Architects Daughter', cursive; 
    margin-top: 50px;
}

.misses {
    font-size: 18px;
    color: red;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#blanks {
    font-size: 26px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#userGuess {
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
    margin-top: -15px;
}

#click {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
}

#title {
    text-align: center;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
}

.guy {
    width: 179px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#missAlert {
    position: absolute;
    font-size: 200px;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: red;
    z-index: 10;
}


#head {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -200px;
    margin-left: 130px;
    z-index: 4;
}

#body {
    width: 10px;
    height: 80px;
    position: absolute;
    margin-top: -180px;
    margin-left: 145px;  
}

#armL {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -145px;
    margin-left: 150px;  
}

#armR {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -145px;
    margin-left: 110px;  
}

#legL {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -90px;
    margin-left: 113px;
    transform: rotate(120deg);
}

#legR {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-top: -90px;
    margin-left: 135px;
    transform: rotate(-120deg);
}    
    
}