<div @slide @fade>
  <div class="col-md-12">
    <div class="home-img">

      <div class="col-md-12 guy">
          <div class="display">
              <img src="assets/hanger.png"  id="hanger"/>
              <div class="the-guy">
                  <div class="headDiv">
                  <img src="assets/head.png" id="head"/>
                  </div>
                  <img src="assets/body.png" id="body" />
                  <img src="assets/armL.png" id="armL" />
                  <img src="assets/armL.png" id="armR" />
                  <img src="assets/armL.png" id="legL" />
                  <img src="assets/armL.png" id="legR" />
              </div>
          </div>
      </div>


    </div>
  <div class="col-md-6">
    <button class="button" routerLink="/play">Play</button>
  </div>
  <div class="col-md-6">
    <button class="button" routerLink="/scoreboard">High Scores</button>
  </div>
</div>
